@model Spooker.Web.Controllers.RegisterForm

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Spooker- Registration</title>
    </head>
    <body>
        @using (Html.BeginForm())
        {
            <div>
                @Html.LabelFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div>
                @Html.TextBoxFor(m => m.Name)
            </div>
            <input type="submit" value="Register"/>
        }
        
    </body>
</html>