@using Spooker.Web.Domain
@model EstimationStatus

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Estimates Overview</title>
    </head>
    <body>
        <div>
            <ul>
                @foreach(Estimate estimate in Model)
                {
                    <li>@estimate.ParticipantName - @estimate.StoryPoints</li>
                }
            </ul>
            @if (Model.IsEstimationRoundCompleted)
            {
                @Html.ActionLink("Start new round", "Estimate", new RouteValueDictionary {{"UserId", ViewBag.UserId}})
            }
        </div>
    </body>
</html>
