@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Spooker - Estimate</title>
    </head>
    <body>
        <div>
              Todo estimate here
        </div>
    </body>
</html>